.hero-section-container {
  position: relative;
  padding: 45px 80px;
  margin-top: 84px;
  width: 100%;
  height: 75vh;
}

.hero-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.hero-cell1 {
  grid-area: 1 / 1 / 4 /-3;
  position: relative;
  overflow: hidden;
}

.hero-cell2 {
  grid-area: 1 / 3 / 4 / 4;
  position: relative;
  overflow: hidden;
}

.hero-cell3 {
  grid-area: 1 / 4 / 2 / 5;
  position: relative;
  overflow: hidden;
}

.hero-cell4 {
  grid-area: 2 / 4 / 4 / 5;
  position: relative;
  overflow: hidden;
}

.cell-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 140ms ease;
  cursor: pointer;
}

.cell-image:hover {
  transform: scale(1.2);
}

.electronics {
  background-image: url(../../assets/img/categories/electronics.jpg);
}

.clothes {
  background-image: url(../../assets/img/categories/clothes.jpg);
}

.furniture {
  background-image: url(../../assets/img/categories/furniture.jpg);
}

.shoes {
  background-image: url(../../assets/img/categories/shoes.jpg);
}

.hero-cell-text {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 20rem;
  font-weight: bold;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: black;
  padding: 5px 15px;
}

/* Phones */
@media only screen and (max-width: 767px) {
  .hero-section-container {
    padding: 25px 20px;
    height: 800px;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-cell1 {
    flex: 1;
    width: 100%;
  }
  .hero-cell2 {
    flex: 1;
    width: 100%;
  }
  .hero-cell3 {
    flex: 1;
    width: 100%;
  }
  .hero-cell4 {
    flex: 1;
    width: 100%;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-section-container {
    padding: 35px 30px;
  }
  .hero-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .hero-cell1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .hero-cell2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .hero-cell3 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .hero-cell4 {
    grid-area: 2 / 2 / 3 / 3;
  }
}
