.hero-section-container {
  position: relative;
  padding: 45px 55px;
  margin-top: 84px;
  width: 100%;
  height: 80vh;
}

.hero-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.hero-cell1 {
  grid-area: 1 / 1 / 4 /-3;
  position: relative;
  overflow: hidden;
}

.hero-cell2 {
  grid-area: 1 / 3 / 4 / 4;
  position: relative;
  overflow: hidden;
}

.hero-cell3 {
  grid-area: 1 / 4 / 2 / 5;
  position: relative;
  overflow: hidden;
}

.hero-cell4 {
  grid-area: 2 / 4 / 4 / 5;
  position: relative;
  overflow: hidden;
}

.cell-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.cell-image:hover {
  transform: scale(1.2);
}

.electronics {
  background-image: url(../../assets/img/categories/electronics.jpg);
}

.clothes {
  background-image: url(../../assets/img/categories/clothes.jpg);
}

.furniture {
  background-image: url(../../assets/img/categories/furniture.jpg);
}

.shoes {
  background-image: url(../../assets/img/categories/shoes.jpg);
}

.hero-cell-text {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 20rem;
  font-weight: bold;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
  padding: 5px 15px;
}
