@font-face {
  font-family: 'InterRegular';
  src: url(./assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'InterSemiBold';
  src: url(./assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: 'InterBold';
  src: url(./assets/fonts/Inter-Bold.ttf);
}

:root {
  --primary-color: #ff0000;

  --text-color: #f3f4f8;
  --text-secondary-color: #d2d4da;
  --text-dark-color: #191919;

  --background-color: #1a1a1a;
  --background-secondary-color: #252525;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16rem;
  font-family: 'InterRegular', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

#root {
  width: 100%;
}

/* Phones */
@media only screen and (max-width: 767px) {
  .navbar-left {
    display: none;
  }
  .navbar {
    padding: 16px 20px;
  }
  .logo {
    width: 110px;
  }
  .products-link {
    margin-right: 0px;
  }
  .hero-section-container {
    padding: 25px 20px;
    height: 800px;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-cell1 {
    flex: 1;
    width: 100%;
  }
  .hero-cell2 {
    flex: 1;
    width: 100%;
  }
  .hero-cell3 {
    flex: 1;
    width: 100%;
  }
  .hero-cell4 {
    flex: 1;
    width: 100%;
  }
  .popular-items-container {
    padding: 20px;
  }
  .arrow-left,
  .arrow-right {
    display: none;
  }
  .card-btn {
    opacity: 1;
  }
  .about-section-container {
    padding: 25px 0px;
  }
  .about-section {
    height: auto;
  }
  .about-section-left {
    display: none;
  }
  .about-section-right {
    padding: 50px 15px;
  }
  .about-para {
    font-size: 15rem;
    line-height: 25px;
  }
  .about-header {
    font-size: 20rem;
    margin-bottom: 20px;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 16px 30px;
  }
  .search-bar {
    width: 85%;
  }
  .hero-section-container {
    padding: 35px 30px;
  }
  .hero-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .hero-cell1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .hero-cell2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .hero-cell3 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .hero-cell4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .popular-items-container {
    padding: 20px;
  }
  .card-btn {
    opacity: 1;
  }
  .about-section-container {
    padding: 35px 20px;
  }
  .about-section {
    height: auto;
  }
  .about-section-left {
    display: none;
  }
  .about-section-right {
    padding: 60px 50px;
  }
  .about-para {
    font-size: 16rem;
    line-height: 25px;
  }
  .about-header {
    font-size: 20rem;
    margin-bottom: 20px;
  }
}
