.product {
  height: 515px;
  min-width: 0;
}

.product:hover .card-btn {
  opacity: 1;
}

.product-image-container {
  overflow: hidden;
  width: 100%;
  height: 380px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-secondary-color);
}

.price-text {
  font-size: 14rem;
  opacity: 40%;
}

.product-price {
  font-size: 22rem;
}

.lorem {
  font-size: 14rem;
  opacity: 40%;
  margin-top: 6px;
}

.product-bottom {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
}

/* Phones */
@media only screen and (max-width: 767px) {
  .product {
    height: 345px;
  }
  .product-image-container {
    height: 230px;
  }
  .product img {
    height: 280px;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .product {
    height: 460px;
  }
  .product-image-container {
    height: 350px;
  }
  .product img {
    height: 280px;
  }
}
