.navbar {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 2px solid var(--background-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 80px;
  background-color: var(--background-color);
}

.navbar-left {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.search-bar {
  border: none;
  background-color: black;
  padding: 10px;
  width: 65%;
  color: var(--text-light);
  max-width: 380px;
}

.search-bar:focus {
  border: 1px solid #3b3b3b;
  outline: none;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 145px;
  height: 50px;
  background-image: url(../../assets/img/logo/e-commerce-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.products-link {
  margin-right: 13px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  border-top: 4px solid transparent;
  transition: border 100ms ease-in-out;
  padding: 5px;
}

.products-link:hover {
  border-bottom: 2px solid var(--primary-color);
}

.user-btn {
  width: 20px;
  height: 20px;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  transition: transfrom 100ms ease-in-out;
}

.user-btn:hover {
  transform: scale(1.1);
}

.user-icon {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/img/icons/user-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cart-btn {
  width: 22px;
  height: 22px;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  transition: transfrom 100ms ease;
}

.cart-btn:hover {
  transform: scale(1.1);
}

.cart-icon {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/img/icons/cart-shopping-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
