.about-section-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px 80px;
  margin: 55px 0px;
}

.about-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-left {
  position: relative;
  flex: 1;
  height: 100%;
}

.about-section-right {
  flex: 9;
  padding: 70px 185px 70px 65px;
}

.about-logo {
  width: 135px;
  height: 65px;
  background-image: url(../../assets/img/logo/readme-logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 35px;
  left: 0;
  transform: rotate(270deg);
}

.about-header {
  font-size: 24rem;
  margin-bottom: 30px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.about-para {
  text-transform: uppercase;
  line-height: 31px;
  font-weight: bold;
  font-size: 18rem;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}
