.footer-container {
  width: 100%;
  height: auto;
  padding: 55px 80px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 110px;
  border-bottom: 2px solid var(--background-secondary-color);
  padding-bottom: 60px;
}

.footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
}

.logo-footer {
  width: 110px;
  height: 50px;
  background-image: url(../../assets/img/logo/e-commerce-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.copyright-text {
  font-size: 14rem;
}

.copyright {
  font-size: 14rem;
}

.subscribe-input-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.subscribe-input {
  flex: 1;
  padding: 8px;
  appearance: none;
  border: none;
}

.subscribe-btn {
  background-color: var(--primary-color);
  appearance: none;
  border: none;
  outline: none;
  color: var(--text-color);
  padding: 0px 20px;
  font-weight: bold;
  cursor: pointer;
}

.links-header {
  font-weight: bold;
  margin-bottom: 14px;
}

.footer-link {
  font-size: 14rem;
  margin-bottom: 11px;
  cursor: pointer;
}

.footer-link:hover {
  color: var(--primary-color);
}

.contact-info {
  font-size: 14rem;
  margin-top: 11px;
}

.footer-right-left,
.footer-right-right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.location-icon,
.phone-icon,
.email-icon {
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.fb-icon,
.ig-icon,
.tw-icon {
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 100ms ease;
  cursor: pointer;
}

.fb-icon:hover,
.ig-icon:hover,
.tw-icon:hover {
  transform: scale(1.1);
}

.location-icon {
  background-image: url(../../assets/img/icons/location-dot-solid.svg);
}

.phone-icon {
  background-image: url(../../assets/img/icons/phone-solid.svg);
}

.email-icon {
  background-image: url(../../assets/img/icons/envelope-solid.svg);
}

.fb-icon {
  background-image: url(../../assets/img/icons/facebook.svg);
}

.ig-icon {
  background-image: url(../../assets/img/icons/instagram.svg);
}

.tw-icon {
  background-image: url(../../assets/img/icons/twitter.svg);
}

.social-media {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 23px;
}

.additional-links {
  display: flex;
  align-items: center;
  font-size: 13rem;
  margin: 15px 0px;
  gap: 12px;
}

.additional-link:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* Phones */
@media only screen and (max-width: 767px) {
  .footer-container {
    padding: 40px 20px;
  }
  .footer {
    flex-direction: column;
    gap: 60px;
  }
  .footer-right {
    flex-direction: column;
    gap: 40px;
  }
  .additional-links {
    justify-content: center;
  }
  .footer-right-right {
    gap: 25px;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    padding: 50px 20px;
  }
}
