.popular-items-container {
  padding: 0px 80px 20px 80px;
  position: relative;
}

.view-all-link {
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 16rem;
  border-bottom: 2px solid transparent;
  transition: border 100ms ease-in-out;
  cursor: pointer;
}

.view-all-link:hover {
  border-bottom: 2px solid var(--primary-color);
}
.popular-heading {
  margin-bottom: 6px;
}

.popular-cards-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 25px 0px;
}

.popular-cards-container::-webkit-scrollbar {
  display: none;
}

.arrow-left,
.arrow-right {
  border: none;
  width: 35px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 900;
}

.arrow-left {
  left: 25px;
  background-image: url(../../assets/img/icons/arrow-left.svg);
}

.arrow-right {
  right: 25px;
  background-image: url(../../assets/img/icons/arrow-right.svg);
}
