.bottom-section-container {
  width: 100%;
  height: auto;
  padding: 0px 80px 65px 80px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
}

.shipping {
  flex: 1;
  border: 4px solid white;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.shipping-header {
  font-size: 55rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.shipping-text {
  font-size: 18rem;
  flex: 1;
}

/* Phones */
@media only screen and (max-width: 767px) {
  .bottom-section-container {
    flex-direction: column;
    padding: 0px 20px 30px 20px;
  }
  .shipping {
    padding: 25px;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .bottom-section-container {
    flex-direction: column;
    padding: 0px 20px 30px 20px;
  }
  .shipping {
    padding: 30px;
  }
}
