* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16rem;
  font-family: 'InterRegular';
  color: var(--text-color);
}
