@font-face {
  font-family: 'InterRegular';
  src: url(./assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'InterSemiBold';
  src: url(./assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: 'InterBold';
  src: url(./assets/fonts/Inter-Bold.ttf);
}

:root {
  --primary-color: #ff0000;
  --text-color: #f3f4f8;
  --text-secondary-color: #d2d4da;
  --text-dark-color: #191919;
  --background-color: #1a1a1a;
  --background-secondary-color: #252525;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
